.msgGrowl-container {
    width: 300px;
    position: fixed;
    z-index: 22000 !important;
    text-align: right;    
}

.top-right {
    top: 10px;
    right: 15px;
}

.bottom-right {
    bottom: 10px;
    right: 15px;
}

.top-left {
    top: 50px;
    left: 20px;
}

.bottom-left {
    bottom: 10px;
    left: 15px;
}

.top-center {
    top: 10px;
    left: 50%;
    margin-left: -150px;
}

.bottom-center {
    bottom: 10px;
    left: 50%;
    margin-left: -150px;
}

.msgGrowl {
    background: #e5e5e5;
    width: 300px;
    font-size: 11px;
    color: #333;
    padding: 0;
    /*margin: 0 0 10px 0;*/
    position: relative;
    -webkit-box-shadow: -1px 0 10px 1px rgba(0,0,0,.3);
    -moz-box-shadow: -1px 0 10px 1px rgba(0,0,0,.3);
    box-shadow: -1px 0 10px 1px rgba(0,0,0,.3);
}

    .msgGrowl h4 {
        font-size: 13px;
        color: #82ba00;
        margin-bottom: .5em;
    }

.msgGrowl-content {
    padding: 10px 20px 10px 10px;
}

.msgGrowl-close {
    background: url(../images/msgGrowl_close.png) no-repeat 50% 50%;
    width: 11px;
    height: 10px;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .4;
}

    .msgGrowl-close:hover {
        opacity: 1;
        cursor: pointer;
    }

.msgGrowl.success .msgGrowl-content {
    background: url(../images/msgGrowl_success.png) no-repeat 10px 13px;
}

.msgGrowl.success .msgGrowl-content {
    padding-left: 50px;
    line-height: 39px;
}

.msgGrowl.success h4 {
    color: #5B7027;
}

.msgGrowl.error .msgGrowl-content {
    background: url(../images/msgGrowl_error.png) no-repeat 10px 13px;
}

.msgGrowl.error .msgGrowl-content {
    padding-left: 50px;
    line-height: 39px;
}

.msgGrowl.error h4 {
    color: #AF4434;
}

.msgGrowl.info .msgGrowl-content {
    background: url(../images/msgGrowl_info.png) no-repeat 10px 13px;
}

.msgGrowl.info .msgGrowl-content {
    padding-left: 50px;
    line-height: 39px;
}

.msgGrowl.info h4 {
    color: #316AB7;
}

.msgGrowl.warning .msgGrowl-content {
    background: url(../images/msgGrowl_warning.png) no-repeat 10px 13px;
}

.msgGrowl.warning .msgGrowl-content {
    padding-left: 50px;
}

.msgGrowl.warning h4 {
    color: #B69201;
}
