﻿@using BaseVersion.Helpers
@using BaseVersion.Areas.Administrators.Resources
@using BaseVersion.Areas.Customers.Resources

<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->

    <ul class="nav sidebar-menu">
        @MenuHelper.AddItem("users", "Index", "Administrator", "Administrators", AdministratorResource.Administrators, AdministratorResource.AdministratorList, AdministratorResource.AddAdministrator)
        @MenuHelper.AddItem("users", "Index", "Customer", "Customers", CustomerResource.Customers)

    </ul>
    <!-- /Sidebar Menu -->
</div>