﻿@using BaseVersion.Resources
@using BaseVersion.Helpers
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
    {
        if (c == culture)
        {
            @:checked="checked"
        }
}

<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@Resource.WebSiteName</title>
    <meta name="theme-color" content="#02579F" />
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--Basic Styles-->
    @System.Web.Optimization.Styles.Render("~/Content/dashboard_global")
    @if (CultureHelper.IsRighToLeft())
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/datatables/1.10.10/css/jquery.dataTables.min.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/datatables/responsive/2.0.0/css/responsive.dataTables.min.css")">
    }
    else
    {
        <link href="@Url.Content("~/Content/css/dataTables.bootstrap.css")" rel="stylesheet" />
    }
    <link href="@Url.Content("~/Content/components/iCheck/skins/all.css?v=1.0.2")"  rel="stylesheet">

    <style>
        .field-validation-error {
            color: #dd4b39;
            font-size: 12px;
        }
    </style>
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="@Url.Content("~/Content/js/skins.min.js")"></script>

    @RenderSection("styles", required: false)
</head>
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!-- Navbar -->
    @Html.Action("_Header", "Home", new { area = "" })
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            @Html.Action("_Menu", "Home", new { area = "" })
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                @RenderSection("breadcrumb", required: false)
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                @RenderBody()
            </div>
            <!-- /Page Content -->
        </div>
    </div>
    <!-- /Main Container -->
    <!--Basic Scripts-->

    @System.Web.Optimization.Scripts.Render("~/bundles/dashboard_global")
    <script src="@Url.Content("~/Content/js/beyond.js")"></script>
    <script src="@Url.Content("~/Content/js/datatable/ZeroClipboard.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/js/datatables/1.10.10/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/js/datatables/responsive/2.0.0/js/dataTables.responsive.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/js/datatables/responsive/2.0.0/js/responsive.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootbox/bootbox.js")"></script>
    <script src="@Url.Content("~/Content/js/my_dashboard.js")"></script>
    <script src="@Url.Content("~/Content/components/iCheck/icheck.js?v=1.0.2")"></script>

    @RenderSection("scripts", required: false)

    <script>
        if ('@TempData["msg"]' != "") {
            jQuery.msgGrowl({
                type: '@TempData["MsgType"]',
                text: '@TempData["msg"]'
            });
        }

    </script>

</body>
</html>
