﻿@font-face {
    font-family: "JF-Flat";
    src: url('/Content/fonts/JF-Flat-regular.ttf');
}

.clearfix {
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .clearfix:after {
        clear: both;
    }

* {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    direction: rtl;
}

.skrollr-desktop body {
    height: 100% !important;
}

body {
    font-family: "JF-Flat";
}

red {
    color: #fb6e52;
}

p {
    margin: 1em 0;
}

.parallax-image-wrapper {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.parallax-image-wrapper-50 {
    height: 50%;
    top: -50%;
}

.parallax-image-wrapper-100 {
    height: 100%;
    top: -100%;
}

.parallax-image {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    .parallax-image:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

.parallax-image-50 {
    height: 200%;
    top: -50%;
}

.parallax-image-100 {
    height: 100%;
    top: 0;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

#skrollr-body {
    height: 100%;
    overflow: visible;
    position: relative;
}

.gap {
    background: transparent center no-repeat;
    background-size: cover;
}

.skrollr .gap {
    background: transparent !important;
}

.gap-50 {
    height: 50%;
}

.gap-100 {
    height: 100%;
}

.landing-page .content {
    background: #fff;
    padding: 1em;
}

.landing-page .navbar-default {
    font-family: 'Open Sans', "JF-Flat", tahoma;
    background-color: transparent;
    border: 0;
}

    .landing-page .navbar-default .navbar-toggle {
        border-color: #fff;
        -webkit-border-radius: 2px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 2px;
        -moz-background-clip: padding;
        border-radius: 2px;
        background-clip: padding-box;
    }

        .landing-page .navbar-default .navbar-toggle:hover,
        .landing-page .navbar-default .navbar-toggle:focus {
            background-color: #1d94c4;
        }

        .landing-page .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

    .landing-page .navbar-default .navbar-header .navbar-brand img {
        margin-top: -8px;
        height: 36px;
    }

    .landing-page .navbar-default .navbar-nav {
        padding-top: 0;
    }

        .landing-page .navbar-default .navbar-nav > li > a {
            color: #f5f5f5;
            font-weight: 300;
            font-size: 15px;
        }

            .landing-page .navbar-default .navbar-nav > li > a:hover,
            .landing-page .navbar-default .navbar-nav > li > a:focus {
                color: #fff;
            }

            .landing-page .navbar-default .navbar-nav > li > a.signin {
                background-color: #1d94c4;
                font-family: 'Open Sans', "JF-Flat", tahoma;
            }

                .landing-page .navbar-default .navbar-nav > li > a.signin:hover {
                    color: #fff;
                    background-color: #5bd0ed;
                }

    .landing-page .navbar-default.other-pages {
        background-color: #28ABE1;
    }

        .landing-page .navbar-default.other-pages .navbar-nav > li > a.signin {
            background-color: #5bd0ed;
        }

            .landing-page .navbar-default.other-pages .navbar-nav > li > a.signin:hover {
                background-color: #72d7f0;
            }

@media (min-width: 768px) {
    .landing-page .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.landing-page .block-wrapper {
    display: block;
    margin: 0 auto !important;
    padding-bottom: 85px;
}

.landing-page .inner-content {
    width: 90% !important;
    margin: 0 auto !important;
    max-width: 1334px;
}

.landing-page .slide-cover .cover-statement {
    font-style: normal;
    font-weight: 300;
    font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
    font-size: 80px;
    line-height: 100px;
    margin: 0 auto;
    padding-top: 15%;
    width: auto;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.landing-page .slide-cover .cover-link {
    width: auto;
    text-align: center;
    margin-top: 50px;
}

    .landing-page .slide-cover .cover-link a {
        color: #e5e5e5;
        height: 40px;
        display: inline-block;
        padding: 4px 10px 8px;
        border: 1px solid transparent;
        border: 1px solid #e5e5e5;
    }

        .landing-page .slide-cover .cover-link a:hover {
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
        }

        .landing-page .slide-cover .cover-link a span {
            display: inline-block;
            font: 300 20px 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
        }

.landing-page .slide-slogan .slogan {
    text-align: center;
    padding: 100px 0 0;
}

    .landing-page .slide-slogan .slogan .slogan-title {
        font-family: 'Open Sans', "JF-Flat", tahoma;
        font-weight: 300;
        font-size: 35px;
    }

        .landing-page .slide-slogan .slogan .slogan-title .title-word {
            font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
            color: #1d94c4;
            font-size: 45px;
        }

    .landing-page .slide-slogan .slogan .slogan-separator {
        width: 1px;
        height: 42px;
        background-color: #ccc;
        margin: 20px auto;
    }

    .landing-page .slide-slogan .slogan .slogan-description {
        font-size: 15px;
        line-height: 25px;
        font-weight: 300;
        font-family: 'Open Sans', "JF-Flat", tahoma;
        padding: 0 25%;
    }

    .landing-page .slide-slogan .slogan .slogan-action {
        font-family: 'Open Sans', "JF-Flat", tahoma;
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        margin-top: 70px;
    }

        .landing-page .slide-slogan .slogan .slogan-action a {
            color: #1d94c4;
        }

            .landing-page .slide-slogan .slogan .slogan-action a .action-word {
                font-style: normal;
                font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
                font-size: 20px;
            }

.slogan-more {
    text-align: center;
    background: #1d94c4;
    margin-top: 0;
    height: 80px;
}

    .slogan-more a {
        font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
        font-size: 30px;
        text-align: center;
        color: #fff;
        padding-top: 20px;
        line-height: 75px;
    }

.landing-page .slide-video {
    position: relative;
}

    .landing-page .slide-video .video-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #fff;
        overflow: hidden;
        display: none;
    }

        .landing-page .slide-video .video-wrapper .video-bg {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .landing-page .slide-video .video-wrapper video {
            width: 100%;
        }

    .landing-page .slide-video .video-statement {
        position: absolute;
        width: 500px;
        padding: 25px;
        top: 25%;
        right: 75px;
        color: #fff;
        background-color: #1d94c4;
    }

        .landing-page .slide-video .video-statement .statement-title {
            width: 400px;
            font: 300 30px 'Open Sans', "JF-Flat", tahoma;
        }

        .landing-page .slide-video .video-statement .statement-description {
            width: 350px;
            font: 300 15px 'Open Sans', "JF-Flat", tahoma;
            line-height: 20px;
        }

        .landing-page .slide-video .video-statement i {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 60px;
            padding-right: 10px;
            padding-top: 8px;
            font-size: 45px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
        }

            .landing-page .slide-video .video-statement i:hover {
                cursor: pointer;
            }

.landing-page .slide-features {
    padding: 0 0 0;
}

    .landing-page .slide-features .row {
        margin: 20px 0;
        padding: 100px 15%;
    }

    .landing-page .slide-features .features-text .heading {
        margin-bottom: 15px;
    }

        .landing-page .slide-features .features-text .heading h3 {
            font-family: 'Open Sans', "JF-Flat", tahoma;
            font-size: 25px;
            line-height: 1.4em;
            margin: .5em 0;
            font-weight: 300;
        }

    .landing-page .slide-features .features-text p {
        font-family: 'Open Sans', "JF-Flat", tahoma;
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 .5em 0;
        line-height: 1.5em;
    }

    .landing-page .slide-features .features-image {
        text-align: center;
    }

    .landing-page .slide-features .touts-container {
        display: inline-block;
        width: 100%;
        margin-top: 75px;
    }

        .landing-page .slide-features .touts-container .toutsList {
            display: block;
            font-family: 'Open Sans', "JF-Flat", tahoma;
            font-size: 16px;
        }

            .landing-page .slide-features .touts-container .toutsList .row {
                padding: 0 15%;
            }

            .landing-page .slide-features .touts-container .toutsList .tout {
                padding-top: 23px;
                padding-bottom: 20px;
            }

                .landing-page .slide-features .touts-container .toutsList .tout .image-container {
                    display: block;
                    width: 100%;
                    text-align: center;
                }

                    .landing-page .slide-features .touts-container .toutsList .tout .image-container i {
                        font-size: 3em;
                    }

                .landing-page .slide-features .touts-container .toutsList .tout .text-container {
                    padding: 20px 10px;
                    float: left;
                    width: 100%;
                    text-align: center;
                }

                .landing-page .slide-features .touts-container .toutsList .tout h3 {
                    margin-top: 0;
                    margin-bottom: 25px;
                    font-size: 22px;
                    font-family: 'Open Sans', "JF-Flat", tahoma;
                    font-weight: 400;
                    text-align: center;
                }

                .landing-page .slide-features .touts-container .toutsList .tout p {
                    font-size: 14px;
                    text-align: center;
                }

.landing-page .slide-testimonial {
    margin: 0;
    padding: 10px 0 50px;
    background-color: #fff;
    min-height: 500px;
}

    .landing-page .slide-testimonial .row {
        margin: 20px 0;
        padding: 0 15%;
    }

    .landing-page .slide-testimonial .testimonial-header {
        height: 150px;
        background-color: #1d94c4;
        position: relative;
    }

        .landing-page .slide-testimonial .testimonial-header .testimonial-title {
            font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
            font-size: 50px;
            text-align: center;
            color: #fff;
            padding-top: 30px;
        }

        .landing-page .slide-testimonial .testimonial-header .testimonial-arrow {
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: -50px;
            -lh-property: 0;
            left: -webkit-calc(50% - 50px);
            left: -moz-calc(50% - 50px);
            left: calc(50% - 50px);
            ;
            background-color: #fff;
            border-radius: 50%;
            text-align: center;
        }

            .landing-page .slide-testimonial .testimonial-header .testimonial-arrow i {
                font-size: 4em;
                margin-top: 22px;
                color: #1d94c4;
            }

    .landing-page .slide-testimonial .testimonial-item {
        font-family: 'Open Sans', "JF-Flat", tahoma;
        padding: 60px 10px 10px;
        text-align: center;
    }

        .landing-page .slide-testimonial .testimonial-item .avatar {
            text-align: center;
        }

            .landing-page .slide-testimonial .testimonial-item .avatar img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

        .landing-page .slide-testimonial .testimonial-item .qoute {
            padding-top: 20px;
            font-size: 14px;
        }

        .landing-page .slide-testimonial .testimonial-item .splitter {
            width: 50px;
            margin: 10px auto;
            background-color: #666;
            height: 1px;
        }

        .landing-page .slide-testimonial .testimonial-item .person .name {
            font-weight: 700;
        }

        .landing-page .slide-testimonial .testimonial-item .person .website {
            margin-top: 5px;
        }

            .landing-page .slide-testimonial .testimonial-item .person .website a {
                font-weight: 400;
                color: #1d94c4;
            }

.landing-page .slide-map {
    padding: 0;
    background-color: #353535;
}

    .landing-page .slide-map .map-haeder {
        background-color: #353535;
        height: 150px;
    }

        .landing-page .slide-map .map-haeder .map-title {
            font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
            font-size: 50px;
            text-align: center;
            color: #fff;
            padding-top: 60px;
        }

    .landing-page .slide-map .map-container {
        position: relative;
        background-color: #353535;
    }

        .landing-page .slide-map .map-container .map {
            height: 600px;
        }

        .landing-page .slide-map .map-container .map-overlay-top,
        .landing-page .slide-map .map-container .map-overlay-bottom {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 200px;
            z-index: 100;
            background: linear-gradient(to bottom, #353535 0, rgba(53, 53, 53, 0) 100%);
        }

        .landing-page .slide-map .map-container .map-overlay-bottom {
            top: auto;
            bottom: 0;
            background: linear-gradient(to top, #353535 0, rgba(53, 53, 53, 0) 100%);
        }

.landing-page .slide-footer {
    background-color: #353535;
    padding: 100px;
}

    .landing-page .slide-footer .footer-description {
        text-align: center;
        color: #999;
        font-family: 'Open Sans', "JF-Flat", tahoma;
        line-height: 25px;
    }

    .landing-page .slide-footer .footer-title {
        color: #fff;
        font-family: 'Kaushan Script', 'Open Sans', "JF-Flat", tahoma;
        font-size: 35px;
        text-align: center;
        margin: 50px auto;
    }

    .landing-page .slide-footer .footer-address,
    .landing-page .slide-footer .footer-tel {
        text-align: center;
        color: #999;
        font-family: 'Open Sans', "JF-Flat", tahoma;
        line-height: 23px;
    }

    .landing-page .slide-footer .footer-tel {
        margin: 20px auto 0;
    }

    .landing-page .slide-footer .footer-mail {
        text-align: center;
        font-family: 'Open Sans', "JF-Flat", tahoma;
        line-height: 23px;
        color: #999;
    }

    .landing-page .slide-footer .footer-links {
        color: #999;
        text-align: center;
        margin-top: 30px;
    }

        .landing-page .slide-footer .footer-links .link {
            font-family: 'Open Sans', "JF-Flat", tahoma;
            color: #fff;
            font-weight: 600;
        }
/*# sourceMappingURL=landing-page.css.map */

@media (min-width: 768px) {
    .navbar-header {
        float: right !important;
    }

    .navbar-nav > li {
        float: right !important;
    }
}

.websiteName {
    color: #FFFFFF;
}

.logo_radius {
    border-radius: 50px;
}

@media (max-width: 480px) {
    .landing-page .slide-video .video-statement {
        width: 50% !important;
    }

        .landing-page .slide-video .video-statement .statement-description {
            width: 100% !important;
        }
}

.about_more {
    border: 1px solid #1d94c4;
    color: #1d94c4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .about_more:hover {
        background: #1d94c4;
        color: #fff;
    }
