﻿@using BaseVersion.Resources
@using BaseVersion.Helpers

<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>@Resource.WebSiteName</title>
    <meta name="theme-color" content="#02579F" />
    <meta name="description" content="Error 404 - Page Not Found" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--Basic Styles-->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/css/my_dashboard.css")" rel="stylesheet" type="text/css" />
    @if (CultureHelper.IsRighToLeft())
    {
        <link href="@Url.Content("~/Content/css/custom-rtl.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/beyond-rtl.min.css")" rel="stylesheet" />
    }
    else
    {
        <link id="beyond-link" href="@Url.Content("~/Content/css/beyond.min.css")" rel="stylesheet" />

    }
    <!--Beyond styles-->
    <link href="@Url.Content("~/Content/css/demo.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/animate.min.css")" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="@Url.Content("~/Content/js/skins.min.js")"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body class="body-404">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>404</h1>
            <div class="error-divider">
                <h2>@Resource.PageNoFound</h2>
                <p class="description">@Resource.CannotFindPage</p>
            </div>
            @*@if (CultureHelper.IsRighToLeft())
            {
                <a href="index.html" class="return-btn" onclick="history.go(-1); return false;">@Resource.BtnReturn<i class="fa fa-home"></i></a>
            }
            else
            {
                <a href="index.html" class="return-btn" onclick="history.go(-1); return false;">@Resource.BtnReturn<i class="fa fa-home"></i></a>
            }*@
        </section>
    </div>
    <!--Basic Scripts-->
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/slimscroll/jquery.slimscroll.min.js")"></script>

    <!--Beyond Scripts-->
    <script src="@Url.Content("~/Content/js/beyond.min.js")"></script>
</body>
<!--Body Ends-->
</html>
